<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="{{ '/styles/images/logo.jpg' | prepend: site.baseurl }}">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">主页</a>
        </li>
        <!-- <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">Catagory</a>
        </li> -->
        <li>
          <a href="{{ '/tag' | prepend: site.baseurl }}">标签</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <!-- <li><a><span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span></a></li> -->
       <li><a rel="nofollow" href="https://www.bilibili.com/video/BV1oL411F7hN/?spm_id_from=333.999.0.0">B站</a></li>
       <li><a rel="nofollow" href="{{ '/books' | prepend: site.baseurl }}">书单</a></li>
       <li><a rel="follow" href="https://zackzhangkai.notion.site/42b3aa65fb2d4e79b77c78574e9365d3">分享</a></li>
       <li><a rel="nofollow" href="{{ '/note' | prepend: site.baseurl }}">札记</a></li>
       <li><a rel="nofollow" href="{{ '/feed.xml' | prepend: site.baseurl }}">订阅</a></li>
       <li><a rel="nofollow" href="{{ '/author' | prepend: site.baseurl }}">关于</a></li>
       <li><a rel="nofollow" href="{{ '/link' | prepend: site.baseurl }}">友链</a></li>
       <li><a rel="nofollow" href="https://running-page-puce.vercel.app/">运动</a></li>
       <li><a href="{{ '/donate/' | prepend: site.baseurl }}"><strong>打赏&公众号</strong></a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Github</a></li>
            <li><a rel="nofollow" href="{{ '/author' | prepend: site.baseurl }}">关于作者</a></li>
            <li><a rel="nofollow" href="{{ '/books' | prepend: site.baseurl }}">我的书单</a></li>
            <li><a rel="nofollow" href="{{ '/note' | prepend: site.baseurl }}">札记随录</a></li>
            <li class="divider"></li>
          </ul>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
